body {
    background-color: tan;
    display: flex;
    flex-direction: column;
}
nav {
    flex: 1;
    background-color: wheat;
    display: flex;
}
nav .INPUT {
    flex:1;
    font-size: large;
    background-color: gray;
    color: white;
    margin: 5px;
    padding: 5px;
    text-align: center;
}
main {
    flex: 9;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}
main #Editor {
    flex: 1;
    margin: 5px;
    font-size: large;
    overflow-x:scroll;
    border:solid black 1px;
    border-style:inset;
}
main #Output {
    flex: 1;
    margin: 5px;

    font-size: large;
    overflow-x:scroll;
    border:solid black 1px;
    border-style: inset;
}

#chartDiv{
    flex: 3;
    margin: 5px;

    background-color: white; 
    border-style: inset;
}
